include ../mixins/flash-messages

doctype html
html(dir="#{ t('direction') }",lang="#{ t('language') }")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
    title Sign into #{brand ? brand : 'Keystone'}
    link(href="/styles/site-#{t('direction')}.min.css", rel="stylesheet", media="all")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    block css
      
  body
    .container
      .row: .col-sm-10.col-sm-offset-1
        p &nbsp;
        p &nbsp;
        +flash-messages(messages)
        .jumbotron.auth-body(class=messages && messages.error.length ? 'has-errors' : null)
          .row
            .col-sm-5
              a(href='/'): img(src='/images/kp_logo_long.png', width=300, alt=brand)
    
            .col-sm-7
              block content
          
        block footer
          footer
            p.text-muted.pull-left
              span.glyphicon.glyphicon-copyright-mark 
              |  2014 <a href="http://knowledge-passion.com" target="_blank">Knowledge-Passion Consulting</a>
            //- You don't _have_ to include a link saying your site is powered by KeystoneJS, but we appreciate it!
            p.text-muted.pull-right #{t('poweredby')} <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>
    
    // jquery and bootstrap
    script(src='/js/lib/jquery/jquery-1.11.1.min.js')
    script(src='/js/lib/bootstrap/bootstrap-3.2.0.min.js')
    script(src='/js/lib/bootswatch.js')     

    //- Page Scripts
    block js