include ../mixins/flash-messages
include ../mixins/footer

doctype html
html(dir="#{ t('direction') }",lang="#{ t('language') }")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
    title #{t("brand")}
    link(href="/styles/site-#{t('direction')}.min.css", rel="stylesheet", media="all")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    //- Azure Application Insights
    if env == 'development'
      script(src='/js/azure-appinsights-dev.js')
    if env == 'production'
      script(src='/js/azure-appinsights.js')

    block css
      
  body
    .container
      .row: .col-sm-8.col-sm-offset-2
        p &nbsp;

        +flash-messages(messages)

        h4.text-right
          //- language switch
          if t("language") == 'ar'
            a(href="/lang/en")
              span Change to English
          else
            a(href="/lang/ar")
              span غير للعربية
          |   
          span.glyphicon.glyphicon-globe
          
        .jumbotron.auth-body(class=messages && messages.error.length ? 'has-errors' : null)
          .text-center: a(href='/'): img(src='/images/kpcit_400.png', width=400, alt=brand)
          hr
          block content
          
        block footer
          +footer
           
    // jquery and bootstrap
    script(src='/js/lib/jquery/jquery-2.1.1.min.js')
    script(src='/js/lib/bootstrap/bootstrap.min.js')    

    //- Page Scripts
    block js