include ../mixins/flash-messages
include ../mixins/footer

doctype html
html(dir="#{ t('direction') }",lang="#{ t('language') }")

  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title= title || t("title")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    //- Customise the stylesheet for your site by editing /public/styles/site.less
    //- All .less files will be automatically compiled and minified in production.
    //- Included two versions of site.less (RTL and LTR) each references a different 
    //- version of bootstrap.  So, get the right one by grabing what the translation
    //- file tells you.
    link(href="/styles/site-#{t('direction')}.min.css", rel="stylesheet", media="all")

    //- bootstrap-datepicker styles
    link(rel="stylesheet", href="/js/lib/bootstrap-datepicker/bootstrap-datepicker3.min.css")
    
    //- select2 styles
    link(rel="stylesheet", href="/js/lib/select2/css/select2.min.css")
    link(rel="stylesheet", href="/js/lib/select2/css/select2-bootstrap.min.css")

    //- jasny bootstrap (fileupload and other things) styles
    link(rel="stylesheet", href="/js/lib/jasny-bootstrap/css/jasny-bootstrap.min.css")

    //- datatables
    link(rel="stylesheet", href="/js/lib/datatables/css/dataTables.bootstrap.min.css")

    //- This file provides the default styling for the KeystoneJS Content Editor
    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

    //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- Safely remove this block if you are not targeting IE8
    //-[if lt IE 9]
      script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
      script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
    //-[endif]

    //- Include template-specific stylesheets by extending the css block
    block css

    //- Add any other template-specific HEAD tags by extending the head block
    block head

  //- HTML BODY
  body

    //- HEADER
    #header: .container

      //- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
      //- ... or completely change this header to suit your design.

      div(role="navigation").navbar.navbar-default
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            //-.navbar-brand
              img.logo(src="/images/kplogo_32.png")
            a.navbar-brand(href=home)
              span= t("brand")
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-left
              //- Home: not needed, as the brand will link to it!
              //- li(class=(section == 'home' ? 'active' : null)): a(href=home)= t('nav.home')
              //- Guide
              li.dropdown(class=(section == 'guide' ? 'active' : null))
                a.dropdown-toggle(href="#",data-toggle="dropdown")
                  | #{t("nav.guide")} 
                  span.caret
                ul.dropdown-menu(role="menu")
                  li: a(href="/skills/english")= t('nav.englishskill')
                  li: a(href="/skills/hard")= t('nav.hardskills')
                  li: a(href="/skills/soft")= t('nav.softskills')
                  li.divider
                  li: a(href="/blog")= t('nav.blog')
                  li: a(href="/gallery")= t('nav.gallery')
                  li: a(href="/contact")= t('nav.contact')
  
              //- display nav links only for logged in users
              if user
                
                //- dynamic navigation is disabled to allow flexibility
                //-each link in navLinks
                  li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
                
                //- Organize
                if organization
                  li.dropdown(class=(section == 'organize' ? 'active' : null))
                    a.dropdown-toggle(href="#",data-toggle="dropdown")
                      | #{t("nav.organize")} 
                      span.caret
                    ul.dropdown-menu(role="menu")
                      li: a(href="/organization")= t('nav.organization')
                      li: a(href="/jobs")= t('nav.jobs')
                      li: a(href="/employees")= t('nav.employees')

                  //- Others
                  li(class=(section == 'assess' ? 'active' : null)): a(href="/assessments")= t('nav.assess')
                  li(class=(section == 'develop' ? 'active' : null)): a(href="/developmentplans")= t('nav.develop')

            ul.nav.navbar-nav.navbar-right
              if user
                li(class=(section == 'user' ? 'active' : null)): a(href='/profile', title="#{t('nav.profile')}"): span.glyphicon.glyphicon-user
                li: a(href='/employee')= user.name.first
                //- admin-only nav links 
                if hasRole(user, 'owner')
                  li.dropdown(class=(section == 'dashboard' ? 'active' : null))
                    a.dropdown-toggle(href="#",data-toggle="dropdown")
                      span.glyphicon.glyphicon-dashboard  
                      //-span.caret
                    ul.dropdown-menu(role="menu")
                      li: a(href="/dashboard/jobs")= t('nav.jobs')
                      li: a(href="/dashboard/employees")= t('nav.employees')
                      li: a(href="/dashboard/assessments")= t('nav.assessments')
                      li: a(href="/dashboard/developmentplans")= t('nav.developmentplans')
                      
                //- keystone admin ui
                if user.canAccessKeystone
                  li: a(href='/keystone',title="#{t('nav.keystone')}"): span.glyphicon.glyphicon-cog
                //- logout
                li: a(href='/logout',title="#{t('nav.signout')}"): span.glyphicon.glyphicon-log-out
              else
                //- join or login
                li: a(href='/join')= t('nav.signup') 
                li: a(href='/login',title="#{t('nav.signin')}"): span.glyphicon.glyphicon-log-in
              
              //- language switch
              //- disabled untill formal support
                li.dropdown
                  a.dropdown-toggle(href="#",data-toggle="dropdown")
                    | #{t("language")} 
                    span.caret
                  ul.dropdown-menu(role="menu")
                    li: a(href="/lang/ar") عربي
                    li: a(href="/lang/en") English

    //- BODY
    #body

      //- NOTE:
      //- There is no .container wrapping class around body blocks to allow more flexibility in design.
      //- Remember to include it in your templates when you override the intro and content blocks!

      //- The Intro block appears above flash messages (used for temporary information display)
      block intro

      //- Flash messages allow you to display once-off status messages to users, e.g. form
      //- validation errors, success messages, etc.
      .container
        +flash-messages(messages)

      //- The content block should contain the body of your template's content
      block content
      
    //- FOOTER
    .container
      +footer
    
    //- JAVASCRIPT

    //- jQuery 1.11.1 is included by default, and required by both Bootstrap
    //- and the KeystoneJS Content Editor. If you are not targeting IE8,
    //- you can upgrade to 2.1.1 (also bundled) for better performance.
    script(src='/js/lib/jquery/jquery-2.1.1.min.js')

    //- Bootstrap javascript 
    script(src='/js/lib/bootstrap/bootstrap.min.js')

    //- bootstrap-datepicker
    script(src='/js/lib/bootstrap-datepicker/bootstrap-datepicker.min.js')
    
    //- select2
    script(src='/js/lib/select2/js/select2.min.js')

    //- jasny-bootstrap (currently for file/image upload widget)
    script(src='/js/lib/jasny-bootstrap/js/jasny-bootstrap.min.js')

    //- holder.js
    script(src='/js/lib/holderjs/holder.min.js')

    //- datatables
    script(src='/js/lib/datatables/js/jquery.dataTables.min.js')
    script(src='/js/lib/datatables/js/dataTables.bootstrap.min.js')

    //- custom ui javascript
    script(src='/js/ui.js')

    //- The KeystoneJS Content Editor provides support for ks-editable data attributes,
    //- which generate links to edit content for users who can access Keystone
    if user && user.canAccessKeystone
      script(src='/keystone/js/content/editor.js')

    //- Add scripts that are globally required by your site here.

    //- Include template-specific javascript files by extending the js block
    block js
