extends ../layouts/default
include ../mixins/paging

mixin article(article)
  .post
    h3: a(href='/article/' + article.slug)= article.title
    h4.text-muted #{t('label.posted')}  
      if article.publishedDate
        | #{t('label.dated')} #{article._.publishedDate.format('MMMM Do, YYYY')} 
      if article.categories && article.categories.length
        | #{t('label.in')} 
        each cat, i in article.categories
          a(href='/articles/' + cat.key)= cat.name
          if i < article.categories.length - 1
            | , 
          else
            |  
      if article.author
        | #{t('label.by')} #{article.author.name.first}
    if article.image.exists
      img(src=article._.image.fit(160,160)).img.pull-right
    p!= article.content.brief
    if article.content.extended
      p.read-more: a(href='/article/' + article.slug)= t('label.more')

block content
  .container: .row
    .col-sm-8
      h2= data.category ? data.category.name : t('header.articles')

      if filters.category && !data.category
        h3.text-muted= t('msg.invalid_category')
      else
        if data.articles.results.length
          +showing(data.articles, 'articles')
          hr
          each article in data.articles.results
            +article(article)
          hr
          +pages(data.articles)
        else
          h3.text-muted #{t('msg.none')}
    
    if data.categories.length
      .col-sm-4
        h2= t('header.categories')
        .list-group
          a(href='/articles', class=!data.category ? 'active' : false).list-group-item= t('label.all')
          each cat in data.categories
            a(href='/articles/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name
