extends ../layouts/default
include ../mixins/assessment-detail
include ../modals/form-assessment
include ../mixins/flags

block js
  script(src="/js/lib/chartjs/Chart.min.js")
  script(src="/js/assessment-ui.js")

block content
  //- embed the assessment form modal
  if assessment
    +modalAssessment('formAssessmentModal', assessment, englishlevels)
    if !assessment.analyzed
      +modalAnalyzeAssessment(assessment, 'analyze')
    else
      +modalAnalyzeAssessment(assessment, 'unanalyze')
  //- display the assessment
  .container
    .row: .col-sm-12
      article
        if !assessment
          h2= t('msg.invalid_assessment')
        else
          h2= t('header.capability_assessment')
            small
              +label-status(assessment.status)
              +label-prime(assessment.prime)
              +label-analyzed(assessment.analyzed)
            .pull-right
              if canDo(user, permits, 'edit')
                a(href="#", data-toggle="modal", data-target="#formAssessmentModal", title="#{t('cmd.edit')}"): span.glyphicon.glyphicon-edit
              if hasRole(user, 'owner')
                |  
                if !assessment.analyzed
                  a(href="#", data-toggle="modal", data-target="#modalAnalyzeAssessment", title="#{t('cmd.analyze')}"): span.glyphicon.glyphicon-tasks
                else
                  a(href="#", data-toggle="modal", data-target="#modalAnalyzeAssessment", title="#{t('cmd.unanalyze')}"): span.glyphicon.glyphicon-tasks
          
          hr
          //- assessment details
          +assessmentDetail(assessment, englishlevels, hardlevels, softlevels)