extends ../layouts/default
include ../mixins/paging
include ../mixins/assessment-brief
include ../modals/form-assessment

block content
  +modalNewAssessment
  .container: .row: .col-sm-12
    section
      h2= t('header.assessments')
      hr
      if !assessments
        h3= t('msg.no_assessments')
      else
        .list-group
          each assessment in assessments
            +assessmentBrief(assessment)
      
    section
      h2= t('header.create_assessment')
      hr
      .row
        .col-sm-6
          section
            .panel.panel-default
              .panel-heading: h3= t('header.assess_yourself_and_team')
              .panel-body
                if !employee
                  p= t('msg.no_employee')
                else
                  span #{employee.name.full}  
                  +assessBtn(employee, employee.job)
                
                if directReports.length
                  hr
                  h4= t('header.direct_reports')
                  ul.list-group
                    each emp in directReports
                      li.list-group-item
                        span #{emp.name.full}  
                        span: +assessBtn(emp, emp.job)
                
        .col-sm-6
          if employees.results.length
            section
              .panel.panel-default
                .panel-heading: h3= t('header.assess_others')
                .panel-body          
                  +showing(employees, t('label.employee'))
                ul.list-group
                  each emp in employees.results
                    li.list-group-item
                      span #{emp.name.full}  
                      span: +assessBtn(emp, emp.job)
                +pages(employees)
