extends ../layouts/default
include ../mixins/developmentplan-detail
include ../modals/form-developmentplan
include ../mixins/flags


block content
  //- embed the developmentplan form modals
  if developmentPlan
    +modalEditDevelopmentPlan('formEditDevelopmentPlanModal', developmentPlan)
    +modalDeleteDevelopmentPlan('formDeleteDevelopmentPlanModal', developmentPlan)
    +modalApproveDevelopmentPlan('formApproveDevelopmentPlanModal', developmentPlan, 'approve')
    +modalApproveDevelopmentPlan('formUnapproveDevelopmentPlanModal', developmentPlan, 'unapprove')

  //- display the development plan
  .container
    .row: .col-sm-12
      article
        if !developmentPlan
          h2= t('msg.invalid_development_plan')
        else
          h2= t('header.development_plan')
            small
              |  
              +label-status(developmentPlan.status)
              |  
              +label-approved(developmentPlan.approved, developmentPlan.approvedBy)
            .pull-right
              //- buttons to trigger edit, delete, and approve modals based on permissions
              if canDo(user, permits, 'edit')
                a(href="#", data-toggle="modal", data-target="#formEditDevelopmentPlanModal", title="#{t('cmd.edit')}"): span.glyphicon.glyphicon-edit
              |  
              if canDo(user, permits, 'delete')
                a(href="#", data-toggle="modal", data-target="#formDeleteDevelopmentPlanModal", title="#{t('cmd.delete')}"): span.glyphicon.glyphicon-trash
              |  
              if canDo(user, permits, 'approve')
                a(href="#", data-toggle="modal", data-target="#formApproveDevelopmentPlanModal", title="#{t('cmd.approve')}"): span.glyphicon.glyphicon-check
                |  
                a(href="#", data-toggle="modal", data-target="#formUnapproveDevelopmentPlanModal", title="#{t('cmd.unapprove')}"): span.glyphicon.glyphicon-ban-circle
          hr          
          //- developmentPlan details
          +developmentplanDetail(developmentPlan, activities, developmentMethods, hardGaps, softGaps)