extends ../layouts/default
include ../mixins/paging
include ../mixins/developmentplan-brief
include ../modals/form-developmentplan

block content
  +modalNewDevelopmentPlan('formNewDevelopmentPlanModal')

  .container
    .page-header: h2= t('header.development_plans')
    .row
      section.col-sm-12
        h3= t('header.your_development_plans')
          .pull-right: a(href="#", data-toggle="modal", data-target="#formNewDevelopmentPlanModal", title="#{t('cmd.add')}"): span.glyphicon.glyphicon-plus-sign
        hr
        if !developmentplans.length
          h4= t('msg.no_development_plans')
          h4= t('msg.click_plus_sign')
        else
          .list-group
            each ownDevPlan in developmentplans
              +developmentplanBrief(ownDevPlan)
    .row
      section.col-sm-12
        h3= t('header.team_development_plans')
        hr
        each reportsDevPlan in data.reportsDevelopmentPlans
          +developmentplanBrief(reportsDevPlan)