extends ../layouts/default
include ../mixins/job-brief
include ../mixins/employee-brief
          
block intro
  .container
    header
      if !organization
        h2 Invalid Organization.
      else
        //- show organization info
        .row
          .col-xs-10
            h2= organization.title
            h3.text-muted= organization.altTitle
            h3.text-muted: a(href="//#{organization.url}",target="_blank") #{organization.url}
          .col-xs-2
            .img-thumbnail
              if organization.logo.exists
                img(src=organization._.logo.fit(150,150))         
    hr

block content
  .container
    .row
      .col-sm-6
        //- show jobs
        if jobs
          .panel.panel-default
            .panel-heading: h3 Jobs
            .list-group
              each job in jobs
                a(href='/job/' + job.id).list-group-item
                  +jobBrief(job)
            a(href="/jobs").btn.btn-default.pull-right more jobs
        else
          h3.text-muted There are no jobs yet.

      .col-sm-6
        //- show employees
        if employees
          .panel.panel-default
            .panel-heading: h3 Employees
            .list-group
              each employee in employees
                a(href='/employee/' + employee.id).list-group-item
                  +employeeBrief(employee)
            a(href="/employees").btn.btn-default.pull-right more employees