extends ../layouts/default
          
block intro
  .container
    header
      if !data.organization
        h2 Invalid Organization.
      else
        h2= data.organization.title
    hr

block content
  .container
    .row
      .col-sm-12
        //- show organization info

    .row
      .col-sm-6
        //- show jobs
        if jobs
          section
            .list-group
              each job in jobs
                a(href='/job/' + job.id).list-group-item
                  span.text-primary= job.title
                  span &nbsp;
                  span.text-muted= job.altTitle
            a(href="/jobs").btn.btn-default.pull-right more jobs
        else
          h3.text-muted There are no jobs yet.

      .col-sm-6
        //- show employees
        if employees
          section
            .list-group
              each employee in employees
                a(href='/employee/' + employee.id).list-group-item
                  span.text-primary= employee.name.full
                  span &nbsp;
                  span.text-muted= employee.arName
            a(href="/employees").btn.btn-default.pull-right more employees