extends ../../layouts/default
include ../../mixins/paging
include ../../mixins/assessment-brief

block content
  //- rearrange the assessments to be indexed by employee id
  - var assessmentsByEmp = _.groupBy(assessments, 'employee')

  .container
    .row
      .col-sm-12
        section
          if !employees
            h2 No employees can be found
          else
            h2 Employees and Final Assessments
            hr
            .row
              .col-sm-6
                form(method='post')
                  input(type='hidden', name='action', value='analyzeall')
                  button(type='submit').btn.btn-primary Analyze All
              .col-sm-6
                form(method='post')
                  input(type='hidden', name='action', value='resetall')
                  button(type='submit').btn.btn-primary Reset All
            hr
            table.table.table-striped
              th #
              th Employee
              th Assessments
              th Self
              th Prime
              th Others
              each emp, i in employees
                - var empAssessments = assessmentsByEmp[emp.id]
                tr
                  td #{i+1}
                  td: a(href="/employee/" + emp.id) #{emp.name.full}
                  if !empAssessments
                    td 0
                    td 
                    td 
                    td 
                  else
                    td #{empAssessments.length} 
                    //- self assessment
                    td
                      - var selfA = _.find(empAssessments, function(a) { return a.employee == a.doneBy.id; })
                      if selfA
                        a.btn.btn-sm.btn-default(href="/assessment/" + selfA.id) Self
                    //- prime assessment
                    td
                      - var primeA = _.find(empAssessments, function(a) { return a.prime; })
                      if primeA
                        a.btn.btn-sm.btn-danger(href="/assessment/" + primeA.id) #{primeA.doneBy.name.full}
                    //- other assessments
                    td
                      each a in empAssessments
                        if (!a.prime) && (a.employee != a.doneBy.id)
                          a.btn.btn-sm.btn-info(href="/assessment/" + a.id) #{a.doneBy.name.full}
                          span  
      .col-sm-6
        //-pre= JSON.stringify(assessmentsByEmp, null, 4)
        //-section
          if !assessments
            h2 No final assessments can be found
          else
            h2 The organization has the following assessments as final (#{assessments.length})
            hr
            .list-group
              each assessment in assessments
                +assessmentBrief(assessment)
    
              