extends ../../layouts/default
//-include ../../mixins/flags
include ../../mixins/developmentplan-brief

block content
  //- rearrange the development plans to be indexed by employee id
  - var devPlansByEmp = _.groupBy(developmentPlans, 'employee')

  .container
    .row
      .col-sm-12
        section
          if !employees
            h2= t('msg.none')
          else
            h2= t('header.development_plans')
            hr
            table.table.table-striped
              th #
              th= t('label.employee')
              th= t('label.development_plans')
              each emp, i in employees
                - var empDevPlans = devPlansByEmp[emp.id]
                tr
                  td #{i+1}
                  td: a(href="/employee/" + emp.id) #{emp.name.full}
                  if !empDevPlans
                    td= t('msg.none')
                  else
                    td
                      each p in empDevPlans
                        +developmentplanButton(p)
                        |   
                      //-a.btn.btn-sm.btn-info(href="/developmentplan/" + p.id) Plan for #{p.period}
                        +badge-status(p.status)
                        +badge-approved(p.approved, p.approvedBy)
                        span &nbsp;