//- **************************************
//- DASHBOARD/employees
//- **************************************

extends ../../layouts/default
include ../../modals/form-employee

block content
  .container
    .row
      .col-sm-12
        section
          +modalAddEmployee('formAddEmployeeModal', jobs)
          h2 Employees 
            .pull-right: a(href="#", data-toggle="modal", data-target="#formAddEmployeeModal", title="Add Employee"): span.glyphicon.glyphicon-plus-sign
          hr
          if !employees
            h3 No employees can be found
          else
            table.table.table-striped.table-condensed.datatables
              thead
                tr
                  th #
                  th Name
                  th Arabic
                  th Job
                  th Department
                  th Function
                  th Actions
              tbody
                each emp, i in employees
                  tr
                    td #{i+1}
                    td: a(href="/employee/" + emp.id) #{emp.name.full}
                    td #{emp.arName}
                    td  
                      if emp.job
                        a(href="/job/" + emp.job.id) #{emp.job.title}
                    td= emp.orgDepartment ? emp.orgDepartment.name : '-'
                    td= emp.orgFunction ? emp.orgFunction.name : '-'
                    td
                      +modalJobAssignment('formAssignJobModal' + emp.id, emp, jobs)
                      +modalDeleteEmployee('formDeleteEmployeeModal' + emp.id, emp)
                      a(href="#", data-toggle="modal", data-target="#formAssignJobModal" + emp.id, title="Change Job Assignment"): span.glyphicon.glyphicon-transfer
                      | 
                      a(href="#", data-toggle="modal", data-target="#formDeleteEmployeeModal" + emp.id, title="Delete Employee"): span.glyphicon.glyphicon-remove-circle
