//- **************************************
//- DASHBOARD/jobs
//- **************************************

extends ../../layouts/default
include ../../modals/form-job

block js
  script(src='/js/job-ui.js')

block content
  .container
    .row
      .col-sm-12
        section
          +modalAddJob(jobs)
          +modalDeptAssignment()
          +modalDeleteJob()

          h2= t('header.jobs') 
            .pull-right: +addBtn()
          hr
          if !jobs
            h3= t('msg.none')
          else
            table.table.table-striped.table-condensed.datatables
              thead
                tr
                  th #
                  th= t('label.job_title')
                  th= t('label.job_alternative')
                  th= t('label.department')
                  th= t('label.function')
                  th= t('label.actions')
              tbody
                each job, i in jobs
                  tr
                    td #{i+1}
                    td: a(href="/job/" + job.id) #{job.title}
                    td #{job.altTitle}
                    td= job.orgDepartment ? job.orgDepartment.title : '-'
                    td= job.orgFunction ? job.orgFunction.title : '-'
                    td
                      //- buttons
                      +assignBtn(job)
                      | 
                      +deleteBtn(job)
                      //-a(href="#", data-toggle="modal", data-target="#formDeleteJobModal" + job.id, title="#{ t('cmd.delete') }"): span.glyphicon.glyphicon-trash
