//- **************************************
//- DASHBOARD/jobs
//- **************************************

extends ../../layouts/default
include ../../modals/form-job

block content
  .container
    .row
      .col-sm-12
        section
          +modalAddJob('formAddJobModal', jobs)
          h2= t('header.jobs') 
            .pull-right: a(href="#", data-toggle="modal", data-target="#formAddJobModal", title="#{ t('cmd.add') }"): span.glyphicon.glyphicon-plus-sign
          hr
          if !jobs
            h3= t('msg.none')
          else
            table.table.table-striped.table-condensed.datatables
              thead
                tr
                  th #
                  th= t('label.job_title')
                  th= t('label.job_alternative')
                  th= t('label.department')
                  th= t('label.function')
                  th= t('label.actions')
              tbody
                each job, i in jobs
                  tr
                    td #{i+1}
                    td: a(href="/job/" + job.id) #{job.title}
                    td #{job.altTitle}
                    td= job.orgDepartment ? job.orgDepartment.title : '-'
                    td= job.orgFunction ? job.orgFunction.title : '-'
                    td
                      +modalDeptAssignment('formAssignDeptModal' + job.id, job, orgDepts, orgFuncs)
                      +modalDeleteJob('formDeleteJobModal' + job.id, job)
                      a(href="#", data-toggle="modal", data-target="#formAssignDeptModal" + job.id, title="#{ t('cmd.assign_dept') }"): span.glyphicon.glyphicon-transfer
                      | 
                      a(href="#", data-toggle="modal", data-target="#formDeleteJobModal" + job.id, title="#{ t('cmd.delete') }"): span.glyphicon.glyphicon-trash
