extends ../../layouts/default

block content
  .container
    .row: .col-sm-12
      form(method='post')
        input(type='hidden', name='action', value='update')
        .form-group(class=validationErrors.name ? 'has-error' : null)
          label(for='name') Name
          input(type='text', name='name.full', id='name', value=formData['name.full']).form-control
        .form-group(class=validationErrors.arName ? 'has-error' : null)
          label(for='arName') Arabic Name
          input(type='text', name='arName', id='arName', value=formData['arName']).form-control
        .form-group(class=validationErrors.empId ? 'has-error' : null)
          label(for='empId') Arabic Name
          input(type='text', name='empId', id='empId', value=formData['empId']).form-control
        .form-group(class=validationErrors.email ? 'has-error' : null)
          label(for='email') Arabic Name
          input(type='text', name='email', id='email', value=formData['email']).form-control
        .form-group(class=validationErrors.telephone ? 'has-error' : null)
          label(for='telephone') Arabic Name
          input(type='text', name='telephone', id='telephone', value=formData['telephone']).form-control
        .form-actions
          button(type='submit').btn.btn-primary Update