include commons

//- Assessment in Details
mixin assessmentDetail(assessment, englishlevels, hardlevels, softlevels)
  .row
    .col-sm-2: +fieldLabel("Assessment For")
    .col-sm-4
      if assessment.employee
        h4: a(href='/employee/' + assessment.employee.id)= assessment.employee.name.full
    .col-sm-2: +fieldLabel("Assessment By")
    .col-sm-4
      if assessment.doneBy
        h4: a(href='/employee/' + assessment.doneBy.id)= assessment.doneBy.name.full
  .row
    .col-sm-2: +fieldLabel("Job Assessed")
    .col-sm-4
      if assessment.job
        h4: a(href='/job/' + assessment.job.id)= assessment.job.title
    .col-sm-2: +fieldLabel("Assessment Date")
    .col-sm-4: h4= assessment._.createdAt.format('DD/MM/YYYY - HH:mm')
  .row
    .col-sm-2.col-sm-offset-6: +fieldLabel("English Level")
    .col-sm-4: h4: +englishLeveler(assessment.english.targetLevel, assessment.english.currentLevel)
  
  hr
  h3 Overview Assessment
  blockquote
    p.multi-line= assessment.overview
    p
      if assessment.doneBy
        footer.pull-right= assessment.doneBy.name.first
  hr
  .row
    .col-sm-6
      .panel.panel-success
        .panel-heading
          h4 Knowledge
        .panel-body
          p.multi-line= assessment.knowledge
  
    .col-sm-6
      .panel.panel-info
        .panel-heading
          h4 Experience & Qualifications
        .panel-body
          p.multi-line= assessment.experience

  hr
  h3 Skill Assessment
  .row
    .col-sm-6
      .panel.panel-danger
        .panel-heading
          h4 Professional Skills
        .panel-body
          .well.well-sm: +levellabels(hardlevels,'label-danger')
          for hardSkill, index in assessment.professional.skills
            +hardLeveler(hardSkill, assessment.professional.targetLevels[index], assessment.professional.currentLevels[index])

    .col-sm-6
      .panel.panel-warning
        .panel-heading
          h4 Behavioral Skills
        .panel-body
          .well.well-sm: +levellabels(softlevels,'label-warning')
          for softSkill, index in assessment.behavioral.skills
            +softLeveler(softSkill, assessment.behavioral.targetLevels[index], assessment.behavioral.currentLevels[index])
  .row
    .col-sm-12
      .panel.panel-primary
        .panel-heading
          h4 Skill Radars
        .panel-body        
          .row
            .col-sm-6
              //- chart showing hard skill gaps
              - var hardLabels = JSON.stringify(_.pluck(assessment.professional.skills, 'title'));
              - var hardTargets = JSON.stringify(assessment.professional.targetLevels);
              - var hardCurrents = JSON.stringify(assessment.professional.currentLevels);
              canvas#hardGapsChart(
                width="400"
                height="400" 
                data-cit-assessment-hardlabels="#{hardLabels}"
                data-cit-assessment-hardtargets="#{hardTargets}"
                data-cit-assessment-hardcurrents="#{hardCurrents}"
                )
            .col-sm-6
              //- chart showing soft skill gaps
              - var softLabels = JSON.stringify(_.pluck(assessment.behavioral.skills, 'title'));
              - var softTargets = JSON.stringify(assessment.behavioral.targetLevels);
              - var softCurrents = JSON.stringify(assessment.behavioral.currentLevels);
              canvas#softGapsChart(
                width="400"
                height="400"  
                data-cit-assessment-softlabels="#{softLabels}"
                data-cit-assessment-softtargets="#{softTargets}"
                data-cit-assessment-softcurrents="#{softCurrents}"
                )