include flags

mixin developmentplanBrief(developmentPlan)
  //- set the color of the plan based on the status 
  case developmentPlan.status
    when 'draft'
      - var kind = 'list-group-item-warning'
    when 'final'
      - var kind = 'list-group-item-success'
    when 'archived'
      - var kind = 'list-group-item-danger'
    default
      - var kind = ''

  a.list-group-item(href='/developmentplan/' + developmentPlan.id, class=kind)
    span= developmentPlan.employee.name.full
    strong= ' ' + t('label.dated') + ' '
    span= developmentPlan._.createdAt.format('YYYY-MM-DD')
    .pull-right
      +badge-status(developmentPlan.status)
      +badge-approved(developmentPlan.approved, developmentPlan.approvedBy)

mixin developmentplanButton(developmentPlan)
  //- set the color of the plan based on the status 
  case developmentPlan.status
    when 'draft'
      - var kind = 'btn-warning'
    when 'final'
      - var kind = 'btn-success'
    when 'archived'
      - var kind = 'btn-danger'
    default
      - var kind = ''

  a.btn.btn-sm(href='/developmentplan/' + developmentPlan.id, class=kind)
    span= developmentPlan._.createdAt.format('YYYY-MM-DD')
    +badge-status(developmentPlan.status)
    +badge-approved(developmentPlan.approved, developmentPlan.approvedBy)
      