include commons
include flags
include ../modals/form-developmentactivity

//- Development Plan in Details
mixin developmentplanDetail(developmentplan, activities)
  .row
    .col-sm-2: +fieldLabel("Employee")
    .col-sm-4
      if developmentplan.employee
        h4: a(href='/employee/' + developmentplan.employee.id)= developmentplan.employee.name.full
    .col-sm-2: +fieldLabel("Plan Date")
    .col-sm-4: h4= developmentplan._.createdAt.format('YYYY-MM-DD')
  .row
    .col-sm-2: +fieldLabel("Period")
    .col-sm-4: h4=developmentplan.period
  hr
  h3 Professional Goals/Motivations
  blockquote
    p.multi-line= developmentplan.goals

  hr
  .row
    .col-sm-6
      .panel.panel-info
        .panel-heading
          h4 Strengths and Talents to Use (3-5)
        .panel-body
          p.multi-line= developmentplan.strengths
  
    .col-sm-6
      .panel.panel-warning
        .panel-heading
          h4 Weaknesses to Develop (3-5)
        .panel-body
          p.multi-line= developmentplan.weaknesses
  
  +modalAddDevelopmentActivity('formAddDevelopmentActivityModal')
  hr
  .row
    .col-sm-12
      h3 Development Acitivities
        //- button to trigger add modal only on 'create' permission
        if _.contains(authorized.permissions, 'edit') || _.contains(authorized.permissions, '*')
          .pull-right: a(href="#", data-toggle="modal", data-target="#formAddDevelopmentActivityModal", title="Add Activity"): span.glyphicon.glyphicon-plus-sign
      hr
      if !activities.length
        h4 No activies found
      else
        .table-responsive
          table.table.table-condensed
            th #
            th Title
            th Target Skill
            th Deadline
            th.text-center Completed?
            th.text-center Actions
            each activity, i in activities
              tr
                td #{i+1}
                td= activity.title
                td= activity.targetSkill
                td= activity._.deadline.format('YYYY-MM-DD')
                td.text-center
                  +flag-completed(activity.completed)
                td.text-center
                  //- button to trigger edit modal only on 'edit' permission
                  if _.contains(authorized.permissions, 'edit') || _.contains(authorized.permissions, '*')
                    span.text-left
                      +modalDevelopmentActivity('formDevelopmentActivityModal' + activity.id, activity)
                      +modalDeleteDevelopmentActivity('formDeleteDevelopmentActivityModal' + activity.id, activity)
                    a(href="#", data-toggle="modal", data-target="#formDevelopmentActivityModal" + activity.id, title="Edit Activity"): span.glyphicon.glyphicon-edit
                    |  
                    a(href="#", data-toggle="modal", data-target="#formDeleteDevelopmentActivityModal" + activity.id, title="Delete Activity"): span.glyphicon.glyphicon-remove-circle
