include commons
include flags
include ../modals/form-developmentactivity

//- Development Plan in Details
mixin developmentplanDetail(developmentplan, activities, developmentMethods, hardGaps, softGaps)
  .row
    .col-sm-2: +fieldLabel(t('label.employee'))
    .col-sm-4
      if developmentplan.employee
        h4: a(href='/employee/' + developmentplan.employee.id)= developmentplan.employee.name.full
    .col-sm-2: +fieldLabel(t('label.date'))
    .col-sm-4: h4= developmentplan._.createdAt.format('YYYY-MM-DD')
  .row
    .col-sm-2: +fieldLabel(t('label.period'))
    .col-sm-4: h4=developmentplan.period
  hr
  h3= t('header.professional_goals_and_motivations')
  blockquote
    p.multi-line= developmentplan.goals

  hr
  .row
    .col-sm-6
      .panel.panel-default
        .panel-heading
          h4= t('header.strengths_and_talents')
        .panel-body
          p.multi-line= developmentplan.strengths
  
    .col-sm-6
      .panel.panel-default
        .panel-heading
          h4= t('header.weaknesses_to_develop')
        .panel-body
          p.multi-line= developmentplan.weaknesses
  
  +modalAddDevelopmentActivity('formAddDevelopmentActivityModal')
  hr
  .row
    .col-sm-12
      h3= t('header.development_activities')
        //- button to trigger add modal only on 'create' permission
        if canDo(user, permits, 'edit')
          .pull-right: a(href="#", data-toggle="modal", data-target="#formAddDevelopmentActivityModal", title="#{t('cmd.add')}"): span.glyphicon.glyphicon-plus-sign

      hr
      if !activities.length
        h4= t('msg.no_activies')
        h4= t('msg.click_plus_sign')
      else
        .table-responsive
          table.table.table-condensed
            th #
            th= t('label.title')
            th= t('label.method')
            th= t('label.deadline')
            th.text-center= t('label.duration')
            th.text-center= t('label.progress')
            th.text-center= t('label.completed')
            th.text-center= t('label.actions')
            each activity, i in activities
              tr
                td #{i+1}
                td
                  +modalViewDevelopmentActivity('viewDevelopmentActivityModal' + activity.id, activity)
                  a(href="#", data-toggle="modal", data-target="#viewDevelopmentActivityModal" + activity.id)= activity.title 
                td= activity.method ? activity.method.title : '-'
                td= activity._.deadline.format('YYYY-MM-DD')
                td.text-center= activity.duration
                td: +percent(activity.progress)
                td.text-center: +flag-completed(activity.completed)
                td.text-center
                  //- button to trigger edit/delete modals only on 'edit' permission
                  if canDo(user, permits, 'edit')
                    span.text-left
                      +modalEditDevelopmentActivity('formEditDevelopmentActivityModal' + activity.id, activity)
                      +modalDeleteDevelopmentActivity('formDeleteDevelopmentActivityModal' + activity.id, activity)
                    a(href="#", data-toggle="modal", data-target="#formEditDevelopmentActivityModal" + activity.id, title="#{t('cmd.edit')}"): span.glyphicon.glyphicon-edit
                    |  
                    a(href="#", data-toggle="modal", data-target="#formDeleteDevelopmentActivityModal" + activity.id, title="#{t('cmd.delete')}"): span.glyphicon.glyphicon-trash
      hr
      //- Skill Gaps
      .row
        .col-sm-6
          .panel.panel-danger
            .panel-heading= t('header.professional_skill_gaps')
            .list-group
              for hardGap, index in _.first(hardGaps, 5)
                .list-group-item
                  span.badge= hardGap.gap
                  span= hardGap.skill.title
            //-.panel-footer
              | More on professional skills can be found under 
              a(href='/skills/hard') Guide/Professional Skills
                    
        .col-sm-6
          .panel.panel-warning
            .panel-heading= t('header.behavioral_skill_gaps')
            .list-group
              for softGap, index in _.first(softGaps, 5)
                .list-group-item
                  span.badge= softGap.gap
                  span= softGap.skill.title
            //-.panel-footer 
              | More on behavioral skills can be found under 
              a(href='/skills/soft') Guide/Behavioral Skills
