mixin employeePanel(employee)
  .panel.panel-default( data-ks-editable=editable(user, { list: 'Employee', id: employee.id }) )
    .panel-heading.text-center
        //-span.thumbnail.qrcode!= employee.qrCode
        span.img-thumbnail
          if employee.photo.exists
            img(src=employee._.photo.fit(100,100),alt="employee photo")
          else
            img(src="/images/employee.png")
    .panel-body 
      p.text-primary: a(href='/employee/' + employee.id)= employee.name.full
      p.text-muted= employee.arName

mixin employeeBrief(employee)
  span.text-info= employee.name.full
  span &nbsp;
  span.text-muted.pull-right= employee.arName