mixin employeePanel(employee)
  .panel.panel-default( data-ks-editable=editable(user, { list: 'Employee', id: employee.id }) )
    .panel-heading.text-center
        //-span.thumbnail.qrcode!= employee.qrCode
        span.img-thumbnail
          if employee.photo.exists
            img(src=employee._.photo.fit(150,150),alt="employee photo")
          else
            img(data-src='holder.js/150x150')
    .panel-body 
      center
        p.text-primary: a(href='/employee/' + employee.id)= employee.name.full
        p.text-muted= employee.arName
        if employee.job
          p.text-primary: a(href='/job/' + employee.job.id)= employee.job.title
          p.text-muted= employee.job.altTitle
        else
          p.text-primary &nbsp;
          p.text-muted &nbsp;

mixin employeeBrief(employee)
  span.text-info= employee.name.full
  span &nbsp;
  span.text-muted.pull-right= employee.arName