mixin label-prime(prime)
  if prime
    .label.label-success= t('label.prime')
  else
    .label.label-warning= t('label.noprime')

mixin label-analyzed(analyzed)
  if analyzed
    .label.label-info= t('label.analyzed')  
  else
    .label.label-danger= t('label.unanalyzed')

mixin flag-prime(prime)
  span.bs-component
    if prime
      button(
        type="button"
        data-container="body"
        data-toggle="popover" 
        data-trigger="focus"
        data-placement="bottom"
        data-content="This is a prime assessment which is taken for skill gap analysis"
        tabindex="0").btn.btn-info: span.glyphicon.glyphicon-plus 
    else
      button(
        type="button"
        data-container="body"
        data-toggle="popover" 
        data-trigger="focus"
        data-placement="bottom"
        data-content="This is not a prime assessment which means it won't be taken for skill gap analysis"
        tabindex="0").btn.btn-warning: span.glyphicon.glyphicon-minus

mixin flag-analyzed(analyzed)
  span.bs-component
    if analyzed
      button(
        type="button"    
        data-container="body"
        data-toggle="popover" 
        data-trigger="focus"
        data-placement="bottom"
        data-content="This assessment has already been taken for skill gap analysis"
        tabindex="0").btn.btn-success: span.glyphicon.glyphicon-eye-open
    else
      button(
        type="button"    
        data-container="body"
        data-toggle="popover" 
        data-trigger="focus"
        data-placement="bottom"
        data-content="This assessment has not yet been taken for skill gap analysis"
        tabindex="0").btn.btn-danger: span.glyphicon.glyphicon-eye-close

mixin flag-completed(completed)
  if completed
    span.glyphicon.glyphicon-ok
  else
    span.glyphicon.glyphicon-unchecked

mixin label-approved(approved, approvedBy)
  if approved
    .label.label-success
      span= t('label.approved_by') 
      each approval in approvedBy 
        span  #{approval.name.full} ;  
  else
    .label.label-warning= t('label.unapproved')

mixin badge-approved(approved, approvedBy)
  if approved
    .badge
      span= t('label.approved_by')  
      each approval in approvedBy 
        span  #{approval.name.full} ;  
  else
    .badge= t('label.unapproved')

mixin label-status(status)
  case status
    when 'draft'
      - var kind = 'label-warning'
    when 'final'
      - var kind = 'label-success'
    when 'archived'
      - var kind = 'label-danger'
    default
      - var kind = ''
  .label(class=kind)= t('label.' + status)

mixin badge-status(status)
  .badge= t('label.' + status)