mixin footer()
  #footer
    .row
      .col-sm-4
        p.text-muted.pull-left &copy; 2015 <a href="http://knowledge-passion.com" target="_blank">Knowledge-Passion</a>
      .col-sm-4
        if authorized
          p.text-muted.text-center as #{authorized.user} #{authorized.roles} with #{authorized.permissions}
      .col-sm-4 
        p.text-muted.pull-right #{t("brand")} v#{citversion} #{t('poweredby')} <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>
