include commons

//- Job Description in Details
mixin jobDetail(job, englishlevels, hardlevels, softlevels)
  .row
    .col-sm-2: +fieldLabel(t('label.job_title'))
    .col-sm-4: h4= job.title
    .col-sm-2: +fieldLabel(t('label.job_alternative'))
    .col-sm-4: h4= job.altTitle
  .row
    .col-sm-2: +fieldLabel(t('label.job_code'))
    .col-sm-4: h4= job.code
    .col-sm-2: +fieldLabel(t('label.job_role'))
    .col-sm-4: h4= job.role
  .row
    .col-sm-2: +fieldLabel(t('label.job_level'))
    .col-sm-4: h4= job.level
    .col-sm-2: +fieldLabel(t('label.job_senior'))
    .col-sm-4: h4= job.senior ? t('label.yes') : t('label.no')
  .row
    .col-sm-2: +fieldLabel(t('label.reports_to'))
    .col-sm-4
      if job.reportsTo
        h4: a(href='/job/' + job.reportsTo.id)= job.reportsTo.title
    .col-md-2: +fieldLabel(t('label.english_level'))
    .col-md-4: h4
      if job.english.level
        +englishLeveler(job.english.level, null)
  .row
    .col-sm-2: +fieldLabel(t('label.department'))
    .col-sm-4: h4= job.orgDepartment ? job.orgDepartment.title : '-'
    .col-sm-2: +fieldLabel(t('label.function'))
    .col-sm-4: h4= job.orgFunction ? job.orgFunction.title : '-'
  hr
  h3= t('header.responsibilities')
  ul.list-group
    for task, index in job.tasks
      li.list-group-item
        | #{task}
        //.badge= job.authorities[index]
        .pull-right: +authority(job.authorities[index])
  hr
  h3= t('header.job_context')
  .row
    .col-sm-2: +fieldLabel(t('label.environment'))
    .col-sm-10: h4= job.environment
  .row
    .col-sm-2: +fieldLabel(t('label.audience'))
    .col-sm-10: h4= job.audience
  .row
    .col-sm-2: +fieldLabel(t('label.internal'))
    .col-sm-10: h4= job.internal
  .row
    .col-sm-2: +fieldLabel(t('label.external'))
    .col-sm-10: h4= job.external
  hr
  h3= t('header.capabilities')
  .row
    .col-sm-6
      .panel.panel-success
        .panel-heading
          h4= t('header.knowledge')
        .panel-body
          p.multi-line= job.knowledge
    .col-sm-6
      .panel.panel-info
        .panel-heading
          h4= t('header.experience_and_qualifications')
        .panel-body
          p.multi-line= job.experience
  .row
    .col-sm-6
      .panel.panel-danger
        .panel-heading
          h4= t('header.professional_skills')
        .panel-body
          .well.well-sm: +levellabels(hardlevels,'label-danger')
          for hardSkill, index in job.professional.skills
            +hardLeveler(hardSkill, job.professional.levels[index])
    .col-sm-6
      .panel.panel-warning
        .panel-heading
          h4= t('header.behavioral_skills')
        .panel-body
          .well.well-sm: +levellabels(softlevels,'label-warning')
          for softSkill, index in job.behavioral.skills
            +softLeveler(softSkill, job.behavioral.levels[index])