mixin student(student)
  .panel.panel-default( data-ks-editable=editable(user, { list: 'Student', id: student.id }) )
    .panel-heading.text-center
        span.thumbnail.qrcode!= student.code
        span.img-thumbnail
          if student.photo.exists
            img(src=student._.photo.fit(100,100),alt="student photo")
          else
            img(src="/images/student_gs.png")
    .panel-body
      h4.text-primary: a(href='/school/' + student.school + '/student/' + student.id)= student.name.full
        span.badge= student.points
      p.text-muted #{student._.birthDate.format('MMMM Do, YYYY')}
      p= student.state
      p= student.email