mixin modalAnalyzeAssessment(assessment, action)
  #modalAnalyzeAssessment.modal.fade(tabindex='-1', role='dialog', aria-labelledby='analyzeModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        form(method='post')
          input(type='hidden', name='action', value='#{action}')
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') &times;
              span.sr-only Close
            h4#analyzeModalLabel.modal-title Assessment Analysis
          .modal-body
            dl.dl-horizontal
              dt Employee
              dd= assessment.employee.name.full
              dt Job
              dd= assessment.job.title
              dt Done By
              dd= assessment.doneBy.name.full
            h4 Are you sure you want to #{action} this assessment?
          .modal-footer
            button(type='submit').btn.btn-info Yes
            button.btn.btn-default(type='button', data-dismiss="modal") Cancel