//- Modal: Employee Business Card
mixin modalBusinessCard(modalId, employee)
  .modal.fade(id="#{modalId}")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.business_card')
        .modal-body   
          .well.business-card
            .row
              .col-xs-6: h4.text-primary #{employee.name.full}
              .col-xs-6: h4.text-primary.pull-right #{employee.arName}
            if employee.job
              .row
                .col-xs-6: h4.text-muted #{employee.job.title}
                .col-xs-6: h4.text-muted.pull-right #{employee.job.altTitle}    
            hr
            .row
              .col-xs-3
                .img-thumbnail
                  if employee.organization.logo.exists
                    img(src=employee.organization._.logo.fit(100,100))
              .col-xs-9
                p.text-muted 
                  a(href="//#{employee.organization.url}") #{employee.organization.title} 
                  br
                  | #{employee.organization.altTitle}
                  br
                  span.glyphicon.glyphicon-phone
                  |  #{employee.mobile} | 
                  span.glyphicon.glyphicon-phone-alt
                  |  #{employee.telephone}
                  br
                  span.glyphicon.glyphicon-envelope
                  |   
                  a(href="mailto:#{employee.email}") #{employee.email}