include form-mixins

//- Modal: Edit Employee Form
mixin modalEmployee(modalId)
  .modal.fade(id="#{modalId}")
    .modal-dialog.modal-lg
      form(method='post').form-horizontal.modal-content
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only Close
          h4.modal-title Employee
        .modal-body
          .row
            .col-sm-6
              input(type='hidden', name='action', value='update')
              .form-group.form-group-sm(class=validationErrors.name ? 'has-error' : null)
                label(for='name').col-sm-4.control-label Name
                .col-sm-8: input(type='text', name='name.full', id='name', value=formData['name.full']).form-control
            .col-sm-6
              .form-group.form-group-sm(class=validationErrors.arName ? 'has-error' : null)
                label(for='arName').col-sm-4.control-label  Arabic Name
                .col-sm-8: input(type='text', name='arName', id='arName', value=formData['arName']).form-control
          .row
            .col-sm-6
              .form-group.form-group-sm(class=validationErrors.empId ? 'has-error' : null)
                label(for='empId').col-sm-4.control-label  Employee ID
                .col-sm-8: input(type='text', name='empId', id='empId', value=formData['empId']).form-control
            .col-sm-6
              .form-group.form-group-sm(class=validationErrors.email ? 'has-error' : null)
                label(for='email').col-sm-4.control-label  Email
                .col-sm-8: input(type='text', name='email', id='email', value=formData['email']).form-control
          .row
            .col-sm-6
              .form-group.form-group-sm(class=validationErrors.telephone ? 'has-error' : null)
                label(for='telephone').col-sm-4.control-label  Telephone
                .col-sm-8: input(type='text', name='telephone', id='telephone', value=formData['telephone']).form-control
          .row
            .col-sm-12
              .form-group(class=validationErrors.bio ? 'has-error' : null)
                label(for='bio').col-sm-2.control-label  About/Bio
                .col-sm-10: textarea(name='bio', id='bio', rows='3').form-control= formData['bio']
          .row
            hr
            .col-sm-6
              .form-group.form-group-sm(class=validationErrors['english.level'] ? 'has-error' : null)
                label(for='english.level').col-sm-4.control-label  English Level
                .col-sm-8: +formEnglishLeveler(data.englishLevels, formData['english.level'])
              .form-group.form-group-sm(class=validationErrors['english.test'] ? 'has-error' : null)
                label(for='english.test').col-sm-4.control-label  English Test
                .col-sm-8: +formSelectInput('english.test', data.engTestOptions, formData['english.test']) 
              .form-group.form-group-sm(class=validationErrors['english.score'] ? 'has-error' : null)
                label(for='english.score').col-sm-4.control-label  Test Score
                .col-sm-8: input(type='text', name='english.score', id='english.score', value=formData['english.score']).form-control
            .col-sm-6
              .form-group.form-group-sm(class=validationErrors['education.field'] ? 'has-error' : null)
                label(for='education.field').col-sm-4.control-label  Education Field
                .col-sm-8: input(type='text', name='education.field', id='education.field', value=formData['education.field']).form-control
              .form-group.form-group-sm(class=validationErrors['education.level'] ? 'has-error' : null)
                label(for='education.level').col-sm-4.control-label  Education Level
                .col-sm-8: +formSelectInput('education.level', data.eduLevelOptions, formData['education.level']) 
          .row
            .col-sm-12
              .form-group.form-group-sm(class=validationErrors.certificates ? 'has-error' : null)
                label(for='certificates').col-sm-2.control-label  Certificates
                .col-sm-10: +formMultiText('certificates', formData['certificates'])
                    
        .modal-footer
          button(type='submit').btn.btn-primary Submit
          button(type="button", data-dismiss="modal").btn.btn-danger Cancel
