include form-mixins

mixin addBtn()
  a(href="#"
    title="#{ t('cmd.add') }"
    data-toggle="modal"
    data-target="#formAddJobModal"): span.glyphicon.glyphicon-plus-sign

//- Modal: Add Job Form
mixin modalAddJob(jobs)
  #formAddJobModal.modal.fade
    .modal-dialog.modal-lg
      form(method='post').form-horizontal.modal-content
        input(type='hidden', name='action', value='create-job')
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.new_job')
        .modal-body
          .row
            .col-sm-6
              .form-group(class=validationErrors.title ? 'has-error' : null)
                label(for='title').col-sm-4.control-label= t('label.job_title')
                .col-sm-8: input(type='text', name='title', id='title', required).form-control
            .col-sm-6
              .form-group(class=validationErrors.altTitle ? 'has-error' : null)
                label(for='altTitle').col-sm-4.control-label= t('label.job_alternative')
                .col-sm-8: input(type='text', name='altTitle', id='altTitle').form-control
          .row
            .col-sm-6
              .form-group(class=validationErrors.code ? 'has-error' : null)
                label(for='code').col-sm-4.control-label= t('label.job_code')
                .col-sm-8: input(type='text', name='code', id='code').form-control
          .row
            .col-sm-12
              .form-group(class=validationErrors.reportsTo ? 'has-error' : null)
                label(for='reportsTo').col-sm-2.control-label= t('label.reports_to')
                .col-sm-10: +formSelectizeListOptional('reportsTo', jobs)

        .modal-footer
          button(type='submit').btn.btn-primary= t('cmd.create')
          button(type="button", data-dismiss="modal").btn.btn-default= t('cmd.cancel')


//- WORK-IN-PROGRESS Modal: Edit Job Form
//-mixin modalEditJob(modalId, job, eduLevelOptions, engTestOptions)
  .modal.fade(id="#{modalId}")
    .modal-dialog.modal-lg
      form(method='post').form-horizontal.modal-content
        input(type='hidden', name='action', value='update-job')
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only Close
          h4.modal-title Edit Job
        .modal-body
          .row
            .col-sm-6
              .form-group.form-group-sm(class=validationErrors.name ? 'has-error' : null)
                label(for='name').col-sm-4.control-label Name
                .col-sm-8: input(type='text', name='name.full', id='name', value=job.name.full).form-control
            .col-sm-6
              .form-group.form-group-sm(class=validationErrors.arName ? 'has-error' : null)
                label(for='arName').col-sm-4.control-label Arabic Name
                .col-sm-8: input(type='text', name='arName', id='arName', value=job.arName).form-control
          .row
            .col-sm-6
              .form-group.form-group-sm(class=validationErrors.empId ? 'has-error' : null)
                label(for='empId').col-sm-4.control-label Job ID
                .col-sm-8: input(type='text', name='empId', id='empId', value=job.empId).form-control
            .col-sm-6
              .form-group.form-group-sm(class=validationErrors.email ? 'has-error' : null)
                label(for='email').col-sm-4.control-label Email
                .col-sm-8: input(type='text', name='email', id='email', value=job.email).form-control
          .row
            .col-sm-6
              .form-group.form-group-sm(class=validationErrors.telephone ? 'has-error' : null)
                label(for='telephone').col-sm-4.control-label Telephone
                .col-sm-8: input(type='text', name='telephone', id='telephone', value=job.telephone).form-control
            .col-sm-6
              .form-group.form-group-sm(class=validationErrors.mobile ? 'has-error' : null)
                label(for='mobile').col-sm-4.control-label Mobile
                .col-sm-8: input(type='text', name='mobile', id='mobile', value=job.mobile).form-control
          .row
            .col-sm-6
              .form-group.form-group-sm(class=validationErrors.birthDate ? 'has-error' : null)
                label(for='birthDate').col-sm-4.control-label Birth Date
                .col-sm-8: input(type='text', name='birthDate', id='birthDate', value=job._.birthDate.format('YYYY-MM-DD')).form-control.datepicker
            .col-sm-6
              .form-group.form-group-sm(class=validationErrors.formalTitle ? 'has-error' : null)
                label(for='formalTitle').col-sm-4.control-label Formal Title
                .col-sm-8: input(type='text', name='formalTitle', id='formalTitle', value=job.formalTitle).form-control

          hr
          .row
            .col-sm-12
              .form-group.form-group-sm(class=validationErrors.bio ? 'has-error' : null)
                label(for='bio').col-sm-2.control-label About/Bio
                .col-sm-10: textarea(name='bio', id='bio', rows='3', placeholder='about you').form-control= job.bio
          hr
          .row
            .col-sm-6
              .form-group.form-group-sm(class=validationErrors['english.test'] ? 'has-error' : null)
                label(for='english.test').col-sm-4.control-label English Test
                .col-sm-8: +formSelectInput('english.test', engTestOptions, job.english.test) 
              .form-group.form-group-sm(class=validationErrors['english.score'] ? 'has-error' : null)
                label(for='english.score').col-sm-4.control-label Test Score
                .col-sm-8: input(type='text', name='english.score', id='english.score', value=job.english.score).form-control
            .col-sm-6
              .form-group.form-group-sm(class=validationErrors['education.field'] ? 'has-error' : null)
                label(for='education.field').col-sm-4.control-label Education Field
                .col-sm-8: input(type='text', name='education.field', id='education.field', value=job.education.field).form-control
              .form-group.form-group-sm(class=validationErrors['education.level'] ? 'has-error' : null)
                label(for='education.level').col-sm-4.control-label  Education Level
                .col-sm-8: +formSelectInput('education.level', eduLevelOptions, job.education.level) 
          .row
            .col-sm-12
              .form-group.form-group-sm(class=validationErrors.certificates ? 'has-error' : null)
                label(for='certificates').col-sm-2.control-label Certificates
                .col-sm-10: +formMultiText('certificates', job.certificates)
                    
        .modal-footer
          button(type='submit').btn.btn-primary Submit
          button(type="button", data-dismiss="modal").btn.btn-default Cancel

mixin deleteBtn(job)
  if job
    a(href='#',
      title='#{ t("cmd.delete") }'
      data-toggle='modal'
      data-target='#formDeleteJobModal'
      data-cit-job-id="#{job.id}"
      data-cit-job-title="#{job.title}"
      data-cit-job-alt-title="#{job.altTitle}"): span.glyphicon.glyphicon-trash


//- Modal: Delete Job Form
mixin modalDeleteJob()
  #formDeleteJobModal.modal.fade
    .modal-dialog
      form(method='post').modal-content
        input(type='hidden', name='action', value='delete-job')
        input#jobId(type='hidden', name='jobId')
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.delete_job')
        .modal-body
          p= t('msg.confirm_delete')

          dl.dl-horizontal
            dt= t('label.job_title')
            dd#jobTitle
            dt= t('label.job_alternative')
            dd#jobAltTitle
 
          .alert.alert-danger(role="alert")
            span.glyphicon.glyphicon-exclamation-sign
            span  #{t('msg.confirm_related')} [#{t('label.assessments')}]
          
        .modal-footer
          button(type='submit').btn.btn-danger= t('cmd.delete')
          button(type="button", data-dismiss="modal").btn.btn-default= t('cmd.cancel')


mixin assignBtn(job)
  if job
    a(href='#',
      title='#{ t("cmd.assign_dept") }'
      data-toggle='modal'
      data-target='#formAssignDeptModal'
      data-cit-job-id="#{job.id}"
      data-cit-job-title="#{job.title}"
      data-cit-job-alt-title="#{job.altTitle}"
      data-cit-job-department-title="#{ job.orgDepartment ? job.orgDepartment.title : '' }"
      data-cit-job-department-id="#{ job.orgDepartment ? job.orgDepartment.id : '' }"
      data-cit-job-function-title="#{ job.orgFunction ? job.orgFunction.title : '' }"
      data-cit-job-function-id="#{ job.orgFunction ? job.orgFunction.id : '' }"): span.glyphicon.glyphicon-transfer

//- Modal: Department/Function Assignment Form
mixin modalDeptAssignment()
  #formAssignDeptModal.modal.fade
    .modal-dialog
      form(method='post').modal-content
        input(type='hidden', name='action', value='assign-dept')
        input#jobId(type='hidden', name='jobId')
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.assignment')
        .modal-body
          dl.dl-horizontal
            dt= t('label.job_title')
            dd#jobTitle
            dt= t('label.job_alternative')
            dd#jobAltTitle
            dt= t('label.department')
            dd#jobDepartmentTitle
            dt= t('label.function')
            dd#jobFunctionTitle
            br
            dt= t('label.department')
            dd: +formDepartmentSelectize()
            br
            dt= t('label.function')
            dd: +formFunctionSelectize()

        .modal-footer
          button(type='submit').btn.btn-danger= t('cmd.assign')
          button(type="button", data-dismiss="modal").btn.btn-default= t('cmd.cancel')
