include form-mixins

mixin addBtn()
  a(href="#"
    title="#{ t('cmd.add') }"
    data-toggle="modal"
    data-target="#formAddJobModal"): span.glyphicon.glyphicon-plus-sign

//- Modal: Add Job Form
mixin modalAddJob(jobs)
  #formAddJobModal.modal.fade
    .modal-dialog.modal-lg
      form(method='post').form-horizontal.modal-content
        input(type='hidden', name='action', value='create-job')
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.new_job')
        .modal-body
          .row
            .col-sm-6
              .form-group(class=validationErrors.title ? 'has-error' : null)
                label(for='title').col-sm-4.control-label= t('label.job_title')
                .col-sm-8: input(type='text', name='title', id='title', required).form-control
            .col-sm-6
              .form-group(class=validationErrors.altTitle ? 'has-error' : null)
                label(for='altTitle').col-sm-4.control-label= t('label.job_alternative')
                .col-sm-8: input(type='text', name='altTitle', id='altTitle').form-control
          .row
            .col-sm-6
              .form-group(class=validationErrors.code ? 'has-error' : null)
                label(for='code').col-sm-4.control-label= t('label.job_code')
                .col-sm-8: input(type='text', name='code', id='code').form-control
          .row
            .col-sm-12
              .form-group(class=validationErrors.reportsTo ? 'has-error' : null)
                label(for='reportsTo').col-sm-2.control-label= t('label.reports_to')
                .col-sm-10: +formSelectizeListOptional('reportsTo', jobs)

        .modal-footer
          button(type='submit').btn.btn-primary= t('cmd.create')
          button(type="button", data-dismiss="modal").btn.btn-default= t('cmd.cancel')

//- Modal: Edit Job Form and Edit Button
mixin editBtn()
  a(href="#"
    title="#{ t('cmd.edit') }"
    data-toggle="modal"
    data-target="#formEditJobModal"): span.glyphicon.glyphicon-edit

mixin modalEditJob(job, jobs, englishlevels)
  #formEditJobModal.modal.fade
    .modal-dialog.modal-lg
      form(method='post').form-horizontal.modal-content
        input(type='hidden', name='action', value='update-job')
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          //- modal header is replaced by the header on the first tab 
            .modal-title
          //- Nav tabs
          ul.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
              a(href='#job', aria-controls='job', role='tab', data-toggle='tab')= t('header.edit_job')
            li(role='presentation')
              a(href='#responsibilities', aria-controls='responsibilities', role='tab', data-toggle='tab')= t('header.responsibilities')
            li(role='presentation')
              a(href='#job_context', aria-controls='job_context', role='tab', data-toggle='tab')= t('header.job_context')
            li(role='presentation')
              a(href='#capabilities', aria-controls='capabilities', role='tab', data-toggle='tab')= t('header.capabilities')
            li(role='presentation')
              a(href='#professional', aria-controls='professional', role='tab', data-toggle='tab')= t('header.professional_skills')
            li(role='presentation')
              a(href='#behavioral', aria-controls='behavioral', role='tab', data-toggle='tab')= t('header.behavioral_skills')
        .modal-body
          //- Tab panes
          .tab-content
            #job.tab-pane.active.fade.in(role='tabpanel')
              .row
                .col-sm-6
                  .form-group(class=validationErrors.title ? 'has-error' : null)
                    label(for='title').col-sm-4.control-label= t('label.job_title')
                    .col-sm-8: input(type='text', name='title', id='title', value=job.title, required).form-control
                .col-sm-6
                  .form-group(class=validationErrors.altTitle ? 'has-error' : null)
                    label(for='altTitle').col-sm-4.control-label= t('label.job_alternative')
                    .col-sm-8: input(type='text', name='altTitle', id='altTitle', value=job.altTitle).form-control
              .row
                .col-sm-6
                  .form-group(class=validationErrors.code ? 'has-error' : null)
                    label(for='code').col-sm-4.control-label= t('label.job_code')
                    .col-sm-8: input(type='text', name='code', id='code', value=job.code).form-control
                .col-sm-6
                  .form-group(class=validationErrors.role ? 'has-error' : null)
                    label(for='role').col-sm-4.control-label= t('label.job_role')
                    .col-sm-8: +formKeystoneSelectFieldOptional('role', job.roleOptions, job.role)
              .row
                .col-sm-6
                  .form-group(class=validationErrors.level ? 'has-error' : null)
                    label(for='level').col-sm-4.control-label= t('label.job_level')
                    .col-sm-8: input(type='number', min='0', step='1', name='level', id='level', value=job.level).form-control
                .col-sm-6  
                  .form-group(class=validationErrors.senior ? 'has-error' : null)
                    label(for='senior').col-sm-4.control-label= t('label.job_senior') 
                    .col-sm-8: .checkbox: label: input(type='checkbox', name='senior', checked=job.senior)

              .row
                .col-sm-12
                  .form-group(class=validationErrors.reportsTo ? 'has-error' : null)
                    label(for='reportsTo').col-sm-2.control-label= t('label.reports_to')
                    .col-sm-10: +formSelectizeListOptional('reportsTo', jobs, job.reportsTo)
                
            #responsibilities.tab-pane.fade(role='tabpanel')
              .row
                .col-sm-12
                  .form-group(class=validationErrors.tasks ? 'has-error' : null)
                    .col-sm-12: +formResponsibilities(job.tasks, job.authorities)
          
            #job_context.tab-pane.fade(role='tabpanel')
              .row
                .col-sm-12
                  .form-group(class=validationErrors.environment ? 'has-error' : null)
                    label(for='environment').col-sm-2.control-label= t('label.environment')
                    .col-sm-10: input(type='text', name='environment', id='environment', value=job.environment).form-control
                  .form-group(class=validationErrors.audience ? 'has-error' : null)
                    label(for='audience').col-sm-2.control-label= t('label.audience')
                    .col-sm-10: input(type='text', name='audience', id='audience', value=job.audience).form-control
                  .form-group(class=validationErrors.internal ? 'has-error' : null)
                    label(for='internal').col-sm-2.control-label= t('label.internal')
                    .col-sm-10: input(type='text', name='internal', id='internal', value=job.internal).form-control
                  .form-group(class=validationErrors.external ? 'has-error' : null)
                    label(for='external').col-sm-2.control-label= t('label.external')
                    .col-sm-10: input(type='text', name='external', id='external', value=job.external).form-control
          
            #capabilities.tab-pane.fade(role='tabpanel')
              .row
                .col-sm-12
                  .form-group(class=validationErrors['english.level'] ? 'has-error' : null)
                    label(for='english.level').col-sm-2.control-label= t('label.english_level')
                    .col-sm-10: +formEnglishLeveler('english.level', englishlevels, job.english.level)
                  .form-group(class=validationErrors.knowledge ? 'has-error' : null)
                    label(for='knowledge').col-sm-2.control-label= t('header.knowledge')
                    .col-sm-10: textarea(name='knowledge', id='knowledge', rows='6').form-control= job.knowledge
                  .form-group(class=validationErrors.experience ? 'has-error' : null)
                    label(for='experience').col-sm-2.control-label= t('header.experience_and_qualifications')
                    .col-sm-10: textarea(name='experience', id='experience', rows='6').form-control= job.experience
            
            #professional.tab-pane.fade(role='tabpanel')
              .row
                .col-sm-12
                  .form-group(class=validationErrors['professional.skills'] ? 'has-error' : null)
                    .col-sm-12: +formSelectHardSkills(job.professional.skills, job.professional.levels)
            
            #behavioral.tab-pane.fade(role='tabpanel')
              .row
                .col-sm-12
                  .form-group(class=validationErrors['behavioral.skills'] ? 'has-error' : null)
                    .col-sm-12: +formSelectSoftSkills(job.behavioral.skills, job.behavioral.levels)

        .modal-footer
          button(type='submit').btn.btn-primary= t('cmd.update')
          button(type="button", data-dismiss="modal").btn.btn-default= t('cmd.cancel')

mixin deleteBtn(job)
  if job
    a(href='#',
      title='#{ t("cmd.delete") }'
      data-toggle='modal'
      data-target='#formDeleteJobModal'
      data-cit-job-id="#{job.id}"
      data-cit-job-title="#{job.title}"
      data-cit-job-alt-title="#{job.altTitle}"): span.glyphicon.glyphicon-trash


//- Modal: Delete Job Form
mixin modalDeleteJob()
  #formDeleteJobModal.modal.fade
    .modal-dialog
      form(method='post').modal-content
        input(type='hidden', name='action', value='delete-job')
        input#jobId(type='hidden', name='jobId')
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.delete_job')
        .modal-body
          p= t('msg.confirm_delete')

          dl.dl-horizontal
            dt= t('label.job_title')
            dd#jobTitle
            dt= t('label.job_alternative')
            dd#jobAltTitle
 
          .alert.alert-danger(role="alert")
            span.glyphicon.glyphicon-exclamation-sign
            span  #{t('msg.confirm_related')} [#{t('label.assessments')}]
          
        .modal-footer
          button(type='submit').btn.btn-danger= t('cmd.delete')
          button(type="button", data-dismiss="modal").btn.btn-default= t('cmd.cancel')


mixin assignBtn(job)
  if job
    a(href='#',
      title='#{ t("cmd.assign_dept") }'
      data-toggle='modal'
      data-target='#formAssignDeptModal'
      data-cit-job-id="#{job.id}"
      data-cit-job-title="#{job.title}"
      data-cit-job-alt-title="#{job.altTitle}"
      data-cit-job-department-title="#{ job.orgDepartment ? job.orgDepartment.title : '' }"
      data-cit-job-department-id="#{ job.orgDepartment ? job.orgDepartment.id : '' }"
      data-cit-job-function-title="#{ job.orgFunction ? job.orgFunction.title : '' }"
      data-cit-job-function-id="#{ job.orgFunction ? job.orgFunction.id : '' }"): span.glyphicon.glyphicon-transfer

//- Modal: Department/Function Assignment Form
mixin modalDeptAssignment()
  #formAssignDeptModal.modal.fade
    .modal-dialog
      form(method='post').modal-content
        input(type='hidden', name='action', value='assign-dept')
        input#jobId(type='hidden', name='jobId')
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.assignment')
        .modal-body
          dl.dl-horizontal
            dt= t('label.job_title')
            dd#jobTitle
            dt= t('label.job_alternative')
            dd#jobAltTitle
            dt= t('label.department')
            dd#jobDepartmentTitle
            dt= t('label.function')
            dd#jobFunctionTitle
            br
            dt= t('label.department')
            dd: +formDepartmentSelectize()
            br
            dt= t('label.function')
            dd: +formFunctionSelectize()

        .modal-footer
          button(type='submit').btn.btn-danger= t('cmd.assign')
          button(type="button", data-dismiss="modal").btn.btn-default= t('cmd.cancel')
