include form-mixins

//- Modal: New DevelopmentPlan Form
mixin modalNewDevelopmentPlan(modalId)
  .modal.fade(id="#{modalId}")
    .modal-dialog.modal-lg
      form(method="post").modal-content
        input(type='hidden', name='action', value='create-developmentplan')
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.new_development_plan')
        .modal-body
          //- 1: Development Plan Overview
          .row
            .col-sm-12
              .form-group
                label(for='period').col-sm-2.control-label= t('label.period')
                .col-sm-10: input(type='text', name='period', id='period', placeholder='YYYY', pattern="[0-9]{4}", title='Must be a year in YYYY format', required).form-control
          hr
          .row
            .col-sm-12
              .panel.panel-default
                .panel-heading: h4= t('header.professional_goals_and_motivations')
                .panel-body
                  .form-group
                    textarea(name='goals', id='goals', rows='3', required).form-control

          //- 2: Strengths and Weaknesses
          .row
            .col-sm-6
              .panel.panel-default
                .panel-heading: h4= t('header.strengths_and_talents')
                .panel-body
                  .form-group
                    textarea(name='strengths', id='strengths', rows='3', required).form-control
            .col-sm-6
              .panel.panel-default
                .panel-heading: h4= t('header.weaknesses_to_develop')
                .panel-body
                  .form-group
                    textarea(name='weaknesses', id='weaknesses', rows='3', required).form-control
          
        .modal-footer
          button(type='submit').btn.btn-info= t('cmd.create')
          button(type="button", data-dismiss="modal").btn.btn-default= t('cmd.cancel')


//- Modal: Edit DevelopmentPlan Form
mixin modalEditDevelopmentPlan(modalId, developmentplan)
  .modal.fade(id="#{modalId}")
    .modal-dialog.modal-lg
      form(method='post').modal-content
        input(type='hidden', name='action', value='update')
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.edit_development_plan')
        .modal-body
          //- 1: Development Plan Overview
          .row
            .col-sm-12
              .form-group(class=validationErrors.period ? 'has-error' : null)
                label(for='period').col-sm-2.control-label= t('label.period')
                .col-sm-10: input(type='text', name='period', id='period', value=developmentplan.period, placeholder='YYYY', pattern="[0-9]{4}", title='Must be a year in YYYY format', required).form-control
          hr
          .row
            .col-sm-12
              .panel.panel-default
                .panel-heading: h4= t('header.professional_goals_and_motivations')
                .panel-body
                  .form-group(class=validationErrors.goals ? 'has-error' : null)
                    textarea(name='goals', id='goals', rows='3', required).form-control= developmentplan.goals
          
          //- 2: Strengths and Weaknesses
          .row
            .col-sm-6
              .panel.panel-default
                .panel-heading: h4= t('header.strengths_and_talents')
                .panel-body
                  .form-group(class=validationErrors.strengths ? 'has-error' : null)
                    textarea(name='strengths', id='strengths', rows='3', required).form-control= developmentplan.strengths
            .col-sm-6
              .panel.panel-default
                .panel-heading: h4= t('header.weaknesses_to_develop')
                .panel-body
                  .form-group(class=validationErrors.weaknesses ? 'has-error' : null)
                    textarea(name='weaknesses', id='weaknesses', rows='3', required).form-control= developmentplan.weaknesses
          
        .modal-footer
          //- status input HERE
          span.pull-left: +formSelectInput('status', statusOptions, developmentplan.status)
          button(type='submit').btn.btn-primary= t('cmd.update')
          button(type="button", data-dismiss="modal").btn.btn-default= t('cmd.cancel')

//- Modal: Delete DevelopmentPlan Form
mixin modalDeleteDevelopmentPlan(modalId, developmentplan)
  .modal.fade(id="#{modalId}")
    .modal-dialog
      form(method='post').modal-content
        input(type='hidden', name='action', value='delete')
        input(type='hidden', name='planId', value=developmentplan.id)
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.delete_development_plan')
        .modal-body
          p= t('msg.confirm_delete')

          dl.dl-horizontal
            dt= t('label.period')
            dd= developmentplan.period
            dt= t('label.date')
            dd=developmentplan._.createdAt.format('YYYY-MM-DD')
          
        .modal-footer
          button(type='submit').btn.btn-danger= t('cmd.delete')
          button(type="button", data-dismiss="modal").btn.btn-default= t('cmd.cancel')

//- Modal: Approve DevelopmentPlan Form
mixin modalApproveDevelopmentPlan(modalId, developmentplan, action)
  .modal.fade(id="#{modalId}")
    .modal-dialog
      form(method='post').modal-content
        input(type='hidden', name='action', value=action)
        input(type='hidden', name='planId', value=developmentplan.id)
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.development_plan_approval')
        .modal-body
          dl.dl-horizontal
            dt= t('label.employee')
            dd= developmentplan.employee.name.full
            dt= t('label.period')
            dd= developmentplan.period
            dt= t('label.date')
            dd=developmentplan._.createdAt.format('YYYY-MM-DD')
          
        .modal-footer
          button(type='submit').btn.btn-danger= t('cmd.' + action)
          button(type="button", data-dismiss="modal").btn.btn-default= t('cmd.cancel')