include form-mixins

//- Modal: Add Employee Form
mixin modalAddEmployee(modalId, jobs)
  .modal.fade(id="#{modalId}")
    .modal-dialog.modal-lg
      form(method='post').form-horizontal.modal-content
        input(type='hidden', name='action', value='create-employee')
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.new_employee')
        .modal-body
          .row
            .col-sm-6
              .form-group(class=validationErrors.firstName ? 'has-error' : null)
                label(for='firstName').col-sm-4.control-label= t('label.first_name')
                .col-sm-8: input(type='text', name='firstName', id='firstName', required).form-control
            .col-sm-6
              .form-group(class=validationErrors.lastName ? 'has-error' : null)
                label(for='lastName').col-sm-4.control-label= t('label.last_name')
                .col-sm-8: input(type='text', name='lastName', id='lastName', required).form-control
          .row
            .col-sm-12
              .form-group(class=validationErrors.arName ? 'has-error' : null)
                label(for='arName').col-sm-2.control-label= t('label.arabic_name')
                .col-sm-10: input(type='text', name='arName', id='arName').form-control
          .row
            .col-sm-6
              .form-group(class=validationErrors.empId ? 'has-error' : null)
                label(for='empId').col-sm-4.control-label= t('label.employee_id')
                .col-sm-8: input(type='text', name='empId', id='empId').form-control
            .col-sm-6
              .form-group(class=validationErrors.email ? 'has-error' : null)
                label(for='email').col-sm-4.control-label= t('label.email')
                .col-sm-8: input(type='email', name='email', id='email', required).form-control
          .row
            .col-sm-12
              .form-group(class=validationErrors.job ? 'has-error' : null)
                label(for='job').col-sm-2.control-label= t('label.job_title')
                .col-sm-10: +formSelect2ListOptional('job', jobs)

        .modal-footer
          button(type='submit').btn.btn-primary= t('cmd.create')
          button(type="button", data-dismiss="modal").btn.btn-default= t('cmd.cancel')


//- Modal: Edit Employee Form
mixin modalEditEmployee(modalId, employee, eduLevelOptions, engTestOptions)
  .modal.fade(id="#{modalId}")
    .modal-dialog.modal-lg
      form(method='post',enctype='multipart/form-data').form-horizontal.modal-content
        input(type='hidden', name='action', value='update')
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.edit_employee')
        .modal-body
          .row
            .col-sm-3
              .text-center
                //- OLD file input: no preview 
                  .form-group.form-group-sm(class=validationErrors.photo ? 'has-error' : null)
                    label(for='photo').col-sm-2.control-label Photo
                    .col-sm-10: input(type='file', name='photo_upload', id='photo').form-control
              
                //- NEW file input using jasny-bootstrap
                .fileinput.fileinput-new(data-provides='photo_upload')
                  .fileinput-new.thumbnail(style='width: 150px; height: 150px;')
                    if employee.photo.exists
                      img(src=employee._.photo.fit(150,150))
                    else 
                      img(data-src='holder.js/150x150')
                  .fileinput-exists.fileinput-preview.thumbnail(style='width: 150px; height: 150px;')
                  .btn-group.btn-group-sm.btn-group-justified
                    .btn.btn-info.btn-file
                      span= t('cmd.change')
                      input(type='file', name='photo_upload')
                    .btn.btn-default.fileinput-exists(data-dismiss='fileinput')= t('cmd.reset')

            .col-sm-9
              .row
                .col-sm-6
                  .form-group.form-group-sm(class=validationErrors.name ? 'has-error' : null)
                    label(for='name').col-sm-4.control-label= t('label.name')
                    .col-sm-8: input(type='text', name='name.full', id='name', value=employee.name.full).form-control
                .col-sm-6
                  .form-group.form-group-sm(class=validationErrors.arName ? 'has-error' : null)
                    label(for='arName').col-sm-4.control-label= t('label.arabic_name')
                    .col-sm-8: input(type='text', name='arName', id='arName', value=employee.arName).form-control
              .row
                .col-sm-6
                  .form-group.form-group-sm(class=validationErrors.empId ? 'has-error' : null)
                    label(for='empId').col-sm-4.control-label= t('label.employee_id')
                    .col-sm-8: input(type='text', name='empId', id='empId', value=employee.empId).form-control
                .col-sm-6
                  .form-group.form-group-sm(class=validationErrors.email ? 'has-error' : null)
                    label(for='email').col-sm-4.control-label= t('label.email')
                    .col-sm-8: input(type='text', name='email', id='email', value=employee.email).form-control
              .row
                .col-sm-6
                  .form-group.form-group-sm(class=validationErrors.telephone ? 'has-error' : null)
                    label(for='telephone').col-sm-4.control-label= t('label.telephone')
                    .col-sm-8: input(type='text', name='telephone', id='telephone', value=employee.telephone).form-control
                .col-sm-6
                  .form-group.form-group-sm(class=validationErrors.mobile ? 'has-error' : null)
                    label(for='mobile').col-sm-4.control-label= t('label.mobile')
                    .col-sm-8: input(type='text', name='mobile', id='mobile', value=employee.mobile).form-control
              .row
                .col-sm-6
                  .form-group.form-group-sm(class=validationErrors.birthDate ? 'has-error' : null)
                    label(for='birthDate').col-sm-4.control-label= t('label.birthdate')
                    .col-sm-8: input(type='text', name='birthDate', id='birthDate', value=employee._.birthDate.format('YYYY-MM-DD')).form-control.datepicker
                .col-sm-6
                  .form-group.form-group-sm(class=validationErrors.formalTitle ? 'has-error' : null)
                    label(for='formalTitle').col-sm-4.control-label= t('label.formal_title')
                    .col-sm-8: input(type='text', name='formalTitle', id='formalTitle', value=employee.formalTitle).form-control

          hr
          .row
            .col-sm-12
              .form-group.form-group-sm(class=validationErrors.bio ? 'has-error' : null)
                label(for='bio').col-sm-2.control-label= t('label.bio')
                .col-sm-10: textarea(name='bio', id='bio', rows='3', placeholder='about you').form-control= employee.bio
          hr
          .row
            .col-sm-6
              .form-group.form-group-sm(class=validationErrors['english.test'] ? 'has-error' : null)
                label(for='english.test').col-sm-4.control-label= t('label.english_test')
                .col-sm-8: +formSelectInput('english.test', engTestOptions, employee.english.test) 
              .form-group.form-group-sm(class=validationErrors['english.score'] ? 'has-error' : null)
                label(for='english.score').col-sm-4.control-label= t('label.test_score')
                .col-sm-8: input(type='text', name='english.score', id='english.score', value=employee.english.score).form-control
            .col-sm-6
              .form-group.form-group-sm(class=validationErrors['education.field'] ? 'has-error' : null)
                label(for='education.field').col-sm-4.control-label= t('label.education_field')
                .col-sm-8: input(type='text', name='education.field', id='education.field', value=employee.education.field).form-control
              .form-group.form-group-sm(class=validationErrors['education.level'] ? 'has-error' : null)
                label(for='education.level').col-sm-4.control-label= t('label.education_level')
                .col-sm-8: +formSelectInput('education.level', eduLevelOptions, employee.education.level) 
          .row
            .col-sm-12
              .form-group.form-group-sm(class=validationErrors.certificates ? 'has-error' : null)
                label(for='certificates').col-sm-2.control-label= t('label.certificates')
                .col-sm-10: +formMultiText('certificates', employee.certificates)
                    
        .modal-footer
          button(type='submit').btn.btn-primary= t('cmd.update')
          button(type="button", data-dismiss="modal").btn.btn-default= t('cmd.cancel')

//- Modal: Delete Employee Form
mixin modalDeleteEmployee(modalId, employee)
  .modal.fade(id="#{modalId}")
    .modal-dialog
      form(method='post').modal-content
        input(type='hidden', name='action', value='delete-employee')
        input(type='hidden', name='empId', value=employee.id)
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.delete_employee')
        .modal-body
          p= t('msg.confirm_delete')

          dl.dl-horizontal
            dt= t('label.name')
            dd #{employee.name.full} | #{employee.arName}

          .alert.alert-danger(role="alert")
            span.glyphicon.glyphicon-exclamation-sign
            span  #{t('msg.confirm_related')} [#{t('label.assessments')}, #{t('label.development_plans')}]
          
        .modal-footer
          button(type='submit').btn.btn-danger= t('cmd.delete')
          button(type="button", data-dismiss="modal").btn.btn-default= t('cmd.cancel')

//- Modal: Job Assignment Form
mixin modalJobAssignment(modalId, employee, jobs)
  .modal.fade(id="#{modalId}")
    .modal-dialog
      form(method='post').modal-content
        input(type='hidden', name='action', value='assign-job')
        input(type='hidden', name='empId', value=employee.id)
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.assignment')
        .modal-body
          dl.dl-horizontal
            dt= t('label.name')
            dd #{employee.name.full} | #{employee.arName}
            dt= t('label.job')
            dd= employee.job ? employee.job.title : '-'
            br
            dd: +formSelect2ListOptional('job', jobs, employee.job)

        .modal-footer
          button(type='submit').btn.btn-danger= t('cmd.assign')
          button(type="button", data-dismiss="modal").btn.btn-default= t('cmd.cancel')
