include form-mixins

//- Modal: Add DevelopmentActivity Form
mixin modalAddDevelopmentActivity(modalId)
  .modal.fade(id="#{modalId}")
    .modal-dialog.modal-lg
      form(method='post').form-horizontal.modal-content
        input(type='hidden', name='action', value='create-activity')
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.new_development_activity')
        .modal-body
          .row
            .col-sm-12
              .form-group(class=validationErrors.title ? 'has-error' : null)
                label(for='title').col-sm-2.control-label= t('label.title')
                .col-sm-10: input(type='text', name='title', id='title', placeholder='#{ t("label.title") }', required).form-control
          
          .row
            .col-sm-6
              .form-group(class=validationErrors.method ? 'has-error' : null)
                label(for='method').col-sm-4.control-label= t('label.method')
                .col-sm-8: +formSelect2List('method', developmentMethods, null)
            
            .col-sm-6
              .form-group(class=validationErrors.duration ? 'has-error' : null)
                label(for='duration').col-sm-4.control-label= t('label.duration')
                .col-sm-8: input(type='number', step='0.5', min='0.5', name='duration', id='duration', required).form-control

          .row
            .col-sm-6
              .form-group(class=validationErrors.deadline ? 'has-error' : null)
                label(for='deadline').col-sm-4.control-label= t('label.deadline')
                .col-sm-8: input(type='text', name='deadline', id='deadline', required).form-control.datepicker
          
            .col-sm-6
              .form-group(class=validationErrors.progress ? 'has-error' : null)
                label(for='progress').col-sm-4.control-label= t('label.progress')
                .col-sm-8: input(type='number', step='1', min='0', max='100', name='progress', id='progress', required).form-control
          hr
          .row
            .col-sm-12
              .form-group(class=validationErrors.targetHardSkills ? 'has-error' : null)
                label(for='targetHardSkills').col-sm-2.control-label= t('label.target_hard_skills')
                .col-sm-10: +formSelect2Multiple('targetHardSkills', hardSkills)

          .row
            .col-sm-12
              .form-group(class=validationErrors.targetSoftSkills ? 'has-error' : null)
                label(for='targetSoftSkills').col-sm-2.control-label= t('label.target_soft_skills')
                .col-sm-10: +formSelect2Multiple('targetSoftSkills', softSkills)
          hr
          .row
            .col-sm-12
              .form-group(class=validationErrors.remarks ? 'has-error' : null)
                label(for='remarks').col-sm-2.control-label= t('label.remarks')
                .col-sm-10: textarea(name='remarks', id='remarks', rows='3', placeholder='#{ t("label.remarks_details") }').form-control
          
        .modal-footer
          button(type='submit').btn.btn-info= t('cmd.create')
          button(type="button", data-dismiss="modal").btn.btn-default= t('cmd.cancel')


//- Modal: Edit DevelopmentActivity Form
mixin modalEditDevelopmentActivity(modalId, activity)
  .modal.fade(id="#{modalId}")
    .modal-dialog.modal-lg
      form(method='post').form-horizontal.modal-content
        input(type='hidden', name='action', value='update-activity')
        input(type='hidden', name='activityId', value=activity.id)
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.edit_development_activity')
        .modal-body
          .row
            .col-sm-12
              .form-group(class=validationErrors.title ? 'has-error' : null)
                label(for='title').col-sm-2.control-label= t('label.title')
                .col-sm-10: input(type='text', name='title', id='title', value=activity.title, placeholder='#{ t("label.title") }', required).form-control
          
          .row
            .col-sm-6
              .form-group(class=validationErrors.method ? 'has-error' : null)
                label(for='method').col-sm-4.control-label= t('label.method')
                .col-sm-8: +formSelect2List('method', developmentMethods, activity.method)

            .col-sm-6
              .form-group(class=validationErrors.duration ? 'has-error' : null)
                label(for='duration').col-sm-4.control-label= t('label.duration')
                .col-sm-8: input(type='number', step='0.5', min='0.5', name='duration', id='duration', value=activity.duration, required).form-control

          .row
            .col-sm-6
              .form-group(class=validationErrors.deadline ? 'has-error' : null)
                label(for='deadline').col-sm-4.control-label= t('label.deadline')
                .col-sm-8: input(type='text', name='deadline', id='deadline', value=activity._.deadline.format('YYYY-MM-DD'), required).form-control.datepicker
          
            .col-sm-6
              .form-group(class=validationErrors.progress ? 'has-error' : null)
                label(for='progress').col-sm-4.control-label= t('label.progress')
                .col-sm-8: input(type='number', step='1', min='0', max='100', name='progress', id='progress', value=activity.progress, required).form-control

          hr
          .row
            .col-sm-12
              .form-group(class=validationErrors.targetHardSkills ? 'has-error' : null)
                label(for='targetHardSkills').col-sm-2.control-label= t('label.target_hard_skills')
                .col-sm-10: +formSelect2Multiple('targetHardSkills', hardSkills, _.pluck(activity.targetHardSkills, '_id'))

          .row
            .col-sm-12
              .form-group(class=validationErrors.targetSoftSkills ? 'has-error' : null)
                label(for='targetSoftSkills').col-sm-2.control-label= t('label.target_soft_skills')
                .col-sm-10: +formSelect2Multiple('targetSoftSkills', softSkills, _.pluck(activity.targetSoftSkills, '_id'))
          hr
          .row
            .col-sm-12
              .form-group(class=validationErrors.remarks ? 'has-error' : null)
                label(for='remarks').col-sm-2.control-label= t('label.remarks')
                .col-sm-10: textarea(name='remarks', id='remarks', rows='3', placeholder='#{ t("label.remarks_details") }').form-control= activity.remarks
          
        .modal-footer
          button(type='submit').btn.btn-danger= t('cmd.update')
          button(type="button", data-dismiss="modal").btn.btn-default= t('cmd.cancel')

//- Modal: Delete DevelopmentActivity Form
mixin modalDeleteDevelopmentActivity(modalId, activity)
  .modal.fade(id="#{modalId}")
    .modal-dialog
      form(method='post').modal-content
        input(type='hidden', name='action', value='delete-activity')
        input(type='hidden', name='activityId', value=activity.id)
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.delete_development_activity')
        .modal-body
          p= t('msg.confirm_delete')

          dl.dl-horizontal
            dt= t('label.title')
            dd= activity.title
            dt= t('label.method')
            dd= activity.method ? activity.method.title : '-'
            dt= t('label.duration')
            dd= activity.duration
            dt= t('label.deadline')
            dd= activity._.deadline.format('YYYY-MM-DD')
            dt= t('label.progress')
            dd #{activity.progress}%
            
        .modal-footer
          button(type='submit').btn.btn-danger= t('cmd.delete')
          button(type="button", data-dismiss="modal").btn.btn-default= t('cmd.cancel')

//- Modal: View DevelopmentActivity
mixin modalViewDevelopmentActivity(modalId, activity)
  .modal.fade(id="#{modalId}")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.development_activity')
        .modal-body
          dl.dl-horizontal
            dt= t('label.title')
            dd= activity.title
            dt= t('label.method')
            dd= activity.method ? activity.method.title : '-'
            dt= t('label.duration')
            dd= activity.duration
            dt= t('label.deadline')
            dd=activity._.deadline.format('YYYY-MM-DD')
            dt= t('label.progress')
            dd #{activity.progress}%
          hr
          dl
            dt= t('label.target_hard_skills')
            dd
              if activity.targetHardSkills
                each thSkill in activity.targetHardSkills
                  +skillLabel(thSkill, 'label-danger')
              else
                span= t('msg.none')
          hr
          dl
            dt= t('label.target_soft_skills')
            dd
              if activity.targetSoftSkills
                each tsSkill in activity.targetSoftSkills
                  +skillLabel(tsSkill, 'label-warning')
              else
                span= t('msg.none')
          hr
          dl
            dt= t('label.remarks')
            dd: p.multi-line= activity.remarks
          
        .modal-footer
          button(type="button", data-dismiss="modal").btn.btn-primary= t('cmd.close')