extends ../../layouts/auth
    
block content
  if user
    h3 #{user.name.first},
    p= t('msg.already_signedin')
    .toolbar
      .btn-group
        if user.isAdmin
          a(href='/keystone').btn.btn-primary Keystone
        a(href='/logout').btn.btn-danger= t('cmd.logout')

  else
    h3= t('header.login')
    hr 
    form(method="post")
      input(type='hidden', name='action', value='login')
      .form-group
        label(for='email').control-label.sr-only= t('label.email')
        input(type='email', name='email', id='email', value=formData.email, placeholder='#{t("label.email")}').form-control
      .form-group
        label(for='password').control-label.sr-only= t('label.password')
        input(type='password', name='password', id='password', placeholder='#{t("label.password")}').form-control
      .form-group
        button(type='submit').btn.btn-primary.pull-right= t('cmd.login')
        br
        a(href='/forgot-password')= t('label.forgot_passward')
        br
    
block js
  //- Only focus the field after the shake animation is complete
  if messages && messages.error.length
    script setTimeout(function() { try { document.getElementById('email').focus(); } catch(e) {}; }, 800);
  else
    script try { document.getElementById('email').focus(); } catch(e) {};
