extends ../../layouts/default
include ../../mixins/commons
    
//- Modal: Change User Password
mixin modalChangePassword(modalId)
  .modal.fade(id="#{modalId}")
    .modal-dialog
      form(method='post', autocomplete='off').modal-content
        input(type='hidden', name='action', value='change-password')
        .modal-header
          button(type="button", data-dismiss="modal").close
            span(aria-hidden="true") &times;
            span.sr-only= t('cmd.close')
          h4.modal-title= t('header.change_password')
        .modal-body
          .form-group
            label(for='password').control-label.sr-only= t('label.new_password')
            input(type='password', name='password', id='password', placeholder='#{t("label.new_password")}', required).form-control
          .form-group
            label(for='password_confirm').control-label.sr-only= t('label.confirm_password')
            input(type='password', name='password_confirm', id='password_confirm', placeholder='#{t("label.confirm_password")}', required).form-control
        .modal-footer
          button(type='submit').btn.btn-danger= t('cmd.change_password')
          button(type="button", data-dismiss="modal").btn.btn-default= t('cmd.cancel')


block content
  +modalChangePassword('formChangePasswordModal')
  .container: .row: .col-md-12
    //- user profile
    section
      if userProfile
        h2= t('header.profile')
        hr
        //- user alerts go here!
        .row: .col-md-12
          if !userProfile.isVerified
            .alert.alert-warning= t('msg.email_not_verified')
        .row
          .col-md-8
            .row
              .col-md-4: +fieldLabel(t('label.name'))
              .col-md-8: h4= userProfile.name.full

            .row
              .col-md-4: +fieldLabel(t('label.email'))
              .col-md-8: h4= userProfile.email
    
            if userProfile.organization
              .row
                .col-md-4: +fieldLabel(t('label.organization'))
                .col-md-8: h4: a(href='/organization')= userProfile.organization.name
    
            if userProfile.employee
              .row
                .col-md-4: +fieldLabel(t('label.employee'))
                .col-md-8: h4: a(href='/employee')= userProfile.employee.name.full
    
            if !_.isEmpty(userProfile.roles)
              .row
                .col-md-4: +fieldLabel(t('label.roles'))
                .col-md-8: h4 
                  each role in userProfile.roles
                    .label.label-primary= role.label
          .col-md-4
            //- profile actions
            a.btn.btn-info.btn-lg.btn-block(href='#', data-toggle='modal', data-target='#formChangePasswordModal')= t('cmd.change_password')
            if !userProfile.isVerified
              a.btn.btn-warning.btn-lg.btn-block(href='/resend-verification', role='button')= t('cmd.resend_verification')

    hr
    //- user authorizations
    section
      if !_.isEmpty(userAuthorizations)
        .panel.panel-primary
          .panel-heading
            h4= t('header.authorizations')
          .panel-body
            table.table.table-striped.table-condensed.datatables
              thead
                tr
                  th #
                  th= t('label.resource')
                  th= t('label.permissions')
              tbody
                each auth, i in userAuthorizations
                  tr
                    td #{i+1}
                    td: a(href=auth.resource)= auth.resource
                    td= _.pluck(auth.permissions,'name')
        
  